header {
    background-color: #28A745 !important;
}

.color-fondo {
    background-color: #28A745 !important;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #212529;
}

h5 {
    font-weight: 300;
    font-size: 20pt;
    color: #212529;
}

.precios {
    font-size: 16pt;
    font-weight: 300;
}

#inputName,
#inputEmail1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #212529;
}

.text-color {
    color: #28A745;
}